<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="salt" value="hbxOlOt23" />
    </appSettings>
    <connectionStrings>
        <clear />
        <add name="luis" providerName="System.Data.SqlClient" connectionString="Data Source=DARTHVADER\SQLEXPRESS;Initial Catalog=policiacoDB;Integrated Security=True" />
        <add name="tono" providerName="System.Data.SqlClient" connectionString="Data Source=NAUTILUS\SQLEXPRESS;Initial Catalog=policiacoDB;Integrated Security=True" />
        <add name="memo" providerName="System.Data.SqlClient" connectionString="Data Source=GUILLERMO\MSSQLEXPRESS;Initial Catalog=policiacoDB;Integrated Security=True" />
    </connectionStrings>
</configuration>